@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #3498db;
    --secondary-text-color: #577592;
    --padding-inline-section:20px;
    --accent-color:var(--primary-color);
    --accent-color-dark: #1d69a3;

}


body{
    font-family: 'Poppins', sans-serif;
    color:var(--secondary-text-color);
}
p{
  font-family: "Roboto", sans-serif;
  color:var(--secondary-text-color);
  line-height: 1.4rem;

}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;

}

.container{
    max-width: 1100px;
    margin-inline: auto;
    overflow: hidden;


}
.flex{
    display: flex;
    align-items: center;
}


nav{
    background-color:#f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;




}

.main-nav{
    justify-content: space-between;
    padding-block: 8px ;

}
.main-nav {
    display: flex;
    justify-content: space-between; /* Space between logo and nav links */
    align-items: center; /* Center items vertically */
}
.company-logo img{
    width: 100px;
}
.nav-links{
    gap: 16px;
    flex-direction: row;
}
.nav-links ul {
    display: flex; /* Use flexbox for the list */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    list-style: none; /* Remove bullet points */
}


.nav-links li {
    margin: 0 15px;}

.hover-link{
    cursor: pointer;
}

.hover-link::after{
    color: var(--secondary-text-color);
}
.hover-link:active{
    color: red;
}
.nav-links{
    gap: 16px;
}

.search-bar{
    height: 32px;
    gap: 8px;
}
.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
}

.search-button{
    background-color:var(--accent-color-dark);
    color:whitesmoke;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.search-button:hover{
    background-color: #577592;
    color: black;
}
main{
    padding-block: 20px;
    margin-top: 80px;
}

.cards-cotainer{
    justify-content: space-between;
    flex-wrap: wrap;
}